//
// Styles for the fuzzy finder component
//

// Colors
@primary:         #0073aa;
@bg:              #ddd;
@lift:            #fff;
@border-color:    #bbb;
@text-light:      #777;
@text-light-rgba: rgba(0, 0, 0, 0.54);

// Fonts
@font-sml:        11px;
@line-sml:        16px;
@line-base:       24px;
@line-tall:       32px;

// Baseline
@base:            16px;
@half:            @base / 2;
@double:          @base * 2;

// Borders
@border:          1px solid @border-color;
@radius:          @half;

#ffwp-finder {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	z-index: 1000;
	overflow-y: auto;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.3s, visibility 0.3s;
	-moz-transition: opacity 0.3s, visibility 0.3s;
	transition: opacity 0.3s, visibility 0.3s;

	&.is-visible {
		visibility: visible;
		opacity: 1;
	}
}

// Modal
.ffwp-finder-container {
	position: relative;
	width: 90%;
	max-width: 30em;
	background: @lift;
	margin: 32px auto;
	padding-bottom: 48px; // status bar
	cursor: auto;
	border-radius: @radius; // Don't stick out over header/footer corners
	-webkit-transform: translateY(-@double);
	-moz-transform: translateY(-@double);
	-ms-transform: translateY(-@double);
	-o-transform: translateY(-@double);
	transform: translateY(-@double);
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;

	@media( min-height: 768px ) {
		margin: 64px auto;
	}

}

// Modal when visible
.is-visible .ffwp-finder-container {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}

// Header
.ffwp-control {
	padding: @base;
	background: @primary;
	border-top-left-radius: @radius;
	border-top-right-radius: @radius;

	input {
		width: 100%;
		padding: 0 0.5em;
		line-height: @line-tall;

		// Overwrite some existing styles
		box-shadow: none;
		border: none;
	}
}

// Results list
.ffwp-results {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow-y: scroll;
	// @todo, small screens probably deserve a completely different approach,
	// maybe a full-screen display
	max-height: 200px;

	// Set a reasonable max height for the results panel based on screen height
	// break points.
	// unless they scroll.
	// results height = max height - 114px (header) - 64 (modal margins)
	@media( min-height: 480px ) {
		overflow-y: scroll;
		max-height: 480px - 178px;
	}

	@media( min-height: 614px ) {
		overflow-y: scroll;
		max-height: 614px - 178px;
	}

	@media( min-height: 768px ) {
		overflow-y: scroll;
		max-height: 768px - 178px;

	}

	@media( min-height: 1024px ) {
		overflow-y: scroll;
		max-height: 1024px - 178px;

	}

	> li {
		padding: 0;
		margin: 0;

		> a {
			display: block;
			width: 100%;
			padding: @half / 2 1em;
			line-height: @line-base - 1; // account for border
			border-bottom: @border;
			box-sizing: border-box;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}

// Status bar
.ffwp-status {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: @half @base;
	background: @bg;
	border-bottom-left-radius: @radius;
	border-bottom-right-radius: @radius;
	color: @text-light;

	> span {
		display: inline-block;
		line-height: @line-tall;

		&:not( .ffwp-results ) {
			display: none;
		}
	}

	// Waiting for input
	&.waiting {

		.ffwp-waiting {
			display: inline-block;
		}

		// Don't show any results until we've taken an action
		.ffwp-results {
			display: none;
		}
	}

	// Fetching symbols
	&.fetching .ffwp-fetching { display: inline-block; }

	// Searching for matches
	&.searching .ffwp-searching { display: inline-block; }

	// Search complete
	&.complete .ffwp-complete { display: inline-block; }
}
