//
// Styles for the fuzzy finder component
//

@import "variables";
@import "utils";
@import "components";

#ffwp-finder {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	z-index: 1000;
	overflow-y: auto;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.3s, visibility 0.3s;
	-moz-transition: opacity 0.3s, visibility 0.3s;
	transition: opacity 0.3s, visibility 0.3s;

	&.is-visible {
		visibility: visible;
		opacity: 1;
	}
}

// Modal
.ffwp-finder-container {
	position: relative;
	width: 90%;
	max-width: 30em;
	background: @lift;
	margin: 32px auto;
	padding-bottom: 48px; // status bar
	cursor: auto;
	border-radius: @radius; // Don't stick out over header/footer corners
	.transform(translateY(-32px));
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;

	@media( min-height: 768px ) {
		margin: 64px auto;
	}

}

// Modal when visible
.is-visible .ffwp-finder-container {
	.transform(translateY(0));
}

// Header
.ffwp-control {
	padding: @base;
	background: @primary;
	border-top-left-radius: @radius;
	border-top-right-radius: @radius;

	input {
		width: 100%;
		padding: 0 0.5em;
		line-height: @line-tall;

		// Overwrite some existing styles
		box-shadow: none;
		border: none;
	}
}

// Results list
.ffwp-results {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow-y: scroll;
	// @todo, small screens probably deserve a completely different approach,
	// maybe a full-screen display
	max-height: 200px;

	// Set a reasonable max height for the results panel based on screen height
	// break points.
	// unless they scroll.
	// results height = max height - 114px (header) - 64 (modal margins)
	@media( min-height: 480px ) {
		overflow-y: scroll;
		max-height: 480px - 178px;
	}

	@media( min-height: 614px ) {
		overflow-y: scroll;
		max-height: 614px - 178px;
	}

	@media( min-height: 768px ) {
		overflow-y: scroll;
		max-height: 768px - 178px;

	}

	@media( min-height: 1024px ) {
		overflow-y: scroll;
		max-height: 1024px - 178px;

	}

	> li {
		padding: 0;
		margin: 0;

		> a {
			display: block;
			width: 100%;
			padding: @half / 2 1em;
			line-height: @line-base - 1; // account for border
			border-bottom: @border;
			box-sizing: border-box;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		&:last-child > a {
			border-bottom: none;
		}
	}
}

// Status bar
.ffwp-status {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: @half @base;
	min-height: @double;
	background: @bg;
	border-bottom-left-radius: @radius;
	border-bottom-right-radius: @radius;
	font-size: @font-sml;
	color: @text-light;

	> span {
		display: none;
		line-height: @line-tall;

		> span {
			margin-right: 0.5em;
		}
	}

	.ffwp-progress {
		float: right;
	}

	// Waiting for input
	&.waiting {

		.ffwp-waiting {
			display: inline-block;
		}
	}

	// Fetching symbols
	&.fetching .ffwp-fetching { display: inline-block; }

	// Searching for matches
	&.searching .ffwp-searching { display: inline-block; }

	// Search complete
	&.complete .ffwp-complete { display: inline-block; }

	// Show search progress
	&.searching .ffwp-progress,
	&.complete .ffwp-progress { display: inline-block; }

	.dashicons {
		font-size: 18px;
		width: 20px; // match the spinner
		line-height: 32px;
	}
}
