//
// Variables for the fuzzy finder less stylesheet
//

// Colors
@primary:         #0073aa;
@bg:              #ddd;
@lift:            #fff;
@border-color:    #bbb;
@text-light:      #777;
@text-light-rgba: rgba(0, 0, 0, 0.54);

// Fonts
@font-sml:        11px;
@line-sml:        16px;
@line-base:       24px;
@line-tall:       32px;

// Baseline
@base:            16px;
@half:            @base / 2;
@double:          @base * 2;

// Borders
@border:          1px solid @border-color;
@radius:          @half;
